{% extends 'main/base.html'%} {% block content %}
<div id="r_head">
    <div>All applications</div>
    <form class="search" style="margin-right: 1.5rem">
        <input type="text" name="search" id="results_search"/>
        <button class="material-symbols-outlined" type="button" onclick="searchResults()">
            search
        </button>
    </form>
    <button class="roww" id="filter_order">
        <div>Filter by</div>
        <span class="material-symbols-outlined invisible" id="ascending" onclick="filterResults('ascending')">
            expand_less
        </span>
        <span class="material-symbols-outlined invisible" id="descending" onclick="filterResults('descending')">
            expand_more
        </span>
    </button>
</div>

<br />
<table id="r_results">
    <tr>
        <th>
            Application
        </th>
        <th>Menu</th>
    </tr>
    {% for item in data.validation_table %}
    <tr class='results_name_{{item.0}}'>
        <td>
            {{item.0}}
        </td>
        <td class="r_options_parent">
            <span class="material-symbols-outlined"
                onclick='seeOptions("{{forloop.counter0}}", "{{data.validation_table|length}}")'>
                menu
            </span>
            <div class="r_options" id="r_options{{forloop.counter0}}">
                <button class="roww" onclick='seeAppInfo("{{forloop.counter0}}")'>
                    <span class="material-symbols-outlined">
                        folder_open
                    </span>
                    <p>See app info</p>
                </button>
                <button class="roww">
                    <span class="material-symbols-outlined">
                        tune
                    </span>
                    <p>Configure app</p>
                </button>
                <button class="roww" onclick='download("{{forloop.counter0}}")'>
                    <span class="material-symbols-outlined">
                        download
                    </span>
                    <p>Download app</p>
                </button>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}