{% extends 'main/base.html'%} {% block content %}
<form method="post" id="uploadForm" action="upload">
  {% csrf_token %}
  <p>Upload your semantic model (brick)</p>
  <div id="upload">
    <div id="file">
      <label for="upload_file" id="upload_file_label">Attach semantic model</label>
      <input class="hidden" id="upload_file" type="file" name="file" accept=".ttl" required>
    </div>
    <button id="upload_submit" type="submit">UPLOAD</button>
  </div>
</form>

<p id="loading" class="invisible">Loading...</p>

<div id="invisible_container" class="invisible">
  <br />
  <br />
  <div id="results">
    <div id="results_header">
      <p>Model Validation</p>
      <span class="material-symbols-outlined" onclick="cancelResults()">
        close
      </span>
    </div>

    <hr />
    <div id="results_choice">
      <p>
        Your model has been uploaded and validated
      </p>
      <div id="choices">
        <button onclick="cancelResults()">
          CANCEL
        </button>
        <button class="grey_background" onclick="seeResults()">
          SEE RESULTS
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}