{% extends 'main/base.html'%} {% block content %}
<div id="filter_layout_1">
    <div id="filter_layout_2">
        <div class="filter_highlight_parent">
            {% if title_upper == 'Archetype' %}
                <div class="filter_highlight">I</div>
            {% endif %}
            <button {% if title_upper != 'Archetype' %}onclick="goToArchetype()"{% endif %}>Archetype</button>
        </div>
        <div class="filter_highlight_parent">
            {% if title_upper == 'Target level' %}
                <div class="filter_highlight">I</div>
            {% endif %}
            <button {% if title_upper != 'Target level' %}onclick="goToTarget()"{% endif %} {% if title_upper == 'Archetype' %}disabled{% endif %}>Target level</button>
        </div>
        <div class="filter_highlight_parent">
            {% if title_upper == 'Strategy' %}
                <div class="filter_highlight">I</div>
            {% endif %}
            <button id="filter_hack" {% if title_upper != 'Strategy' %}disabled{% endif %}>Application</button>
        </div>
    </div>
    <div>
        {{title_upper}}
        <div id="filter_dropdown">
            <div id="filter_hint">
                <p>Select your {{title_lower}}</p>
                <span class="material-symbols-outlined">
                    expand_less
                </span>
            </div>
            <div class="filter_options">
                {% for item in toShow %}
                <button onclick="filters('{{item}}')">{{item}}</button>
                {% if not forloop.last %}
                <hr />
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}